@use "../common/mixins" as *;
@use "../common/variables" as *;

.urlslab-roles {
    
	.roles-layout{
		display: flex; 
		.bg-blue{
			background-color: aqua;
		}
	}
    .urlslab-detailsContainer{
		background-color: #fff;
		flex-grow: 1;
	}
	.urlslab-table-container {
		max-width: 440px;
	}
  


	@media (min-width: $breakpoint-tablet-landscape) { 

		
	} 

}
